.button {
	color: white;
	font-size: 17px;
	font-weight: 400;
	line-height: 20px;
	padding: 14px 35px;
	border-radius: 6px;
	background-color: var(--second-color);
	border: 0;
	cursor: pointer;
	transition: 0.4s;

	&:hover {
		background-color: var(--color-button-hover);
	}

	&:disabled {
		background-color: #e2dfe7;
		cursor: not-allowed;
	}

	&--transparent {
		background: transparent;
		color: var(--second-color);
		border: 1px solid var(--second-color);

		&:hover {
			background-color: var(--second-color);
			color: white;
		}

		&:disabled {
			background: transparent;
			color: #e2dfe7;
			border: 1px solid #e2dfe7;
		}
	}
}
