.correct {
	padding: 20px 0;

	&__pre-title {
		display: flex;
		align-items: center;

		& img {
			margin: 0 15px;
		}

		@include pre-title;
	}

	&__title {
		margin-top: 60px;

		@include big-title;
	}

	&__test-taker {
		margin-top: 10px;

		font-size: 20px;
		line-height: 24px;
		color: var(--text-color);
		font-weight: 700;

		& span {
			color: var(--second-color);
		}
	}

	&__question {
		margin-top: 60px;
	}

	&__question-title {
		@include question-title;
	}

	&__question-options {
		margin-top: 40px;
	}

	&__question-option {
		font-size: 20px;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 20px;
		display: flex;

		& label {
			cursor: pointer;
		}
	}

	&__back {
		margin-top: 60px;
		display: flex;
		justify-content: flex-end;

		@include text-button;
	}
}
