.option {
	padding: 26px 70px 26px 40px;
	box-sizing: border-box;
	border: 1px solid var(--form-group-border);
	background: transparent;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	position: relative;
	transition: 0.2s ease-in all;

	&__arrow {
		position: absolute;
		right: 40px;
		top: 27px;
		display: none;
	}

	&:hover {
		border-left: 5px solid var(--second-color);
		cursor: pointer;
		font-weight: 700;
		color: var(--second-color);
	}

	&:hover &__arrow {
		display: block;
	}
}
