.progress-bar {
	display: flex;
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;

		&:not(:first-child) {
			margin-left: 130px;
		}

		&:not(:last-child)::before {
			content: '';
			z-index: -1;
			position: absolute;
			width: 184px;
			height: 6px;
			background: var(--footer-text-color);
			top: 10px;
			left: 28px;
		}

		&#{&}--complete:not(:last-child)::before {
			background: var(--second-color);
		}

		&#{&}--complete &-circle,
		&#{&}--active &-circle {
			background: var(--second-color);
		}

		&#{&}--active::after {
			content: '';
			position: absolute;
			z-index: 1;
			border-radius: 50%;
			width: 14px;
			height: 14px;
			background-color: var(--footer-text-color);
			top: 6px;
		}
	}

	&__item-circle {
		width: 26px;
		height: 26px;
		background-color: var(--footer-text-color);
		border-radius: 50%;
	}

	&__item-text {
		font-size: 13px;
		line-height: 16px;
		margin-top: 10px;
	}
}
