.form {
	padding: 140px 0 122px 0;

	& .container {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__content {
		max-width: 504px;
	}

	&__title {
		@include common-title;
	}

	&__details {
		margin-top: 60px;
		max-width: 485px;
	}

	&__group {
		position: relative;
		box-sizing: border-box;
		border: 1px solid var(--form-group-border);
		background: transparent;
		padding: 12px 23px 13px 23px;
		width: 485px;
		height: 74px;
		transition: 0.2s ease-in all;

		&:focus-within {
			border-left: 5px solid var(--second-color);
		}
	}

	&__input {
		width: 100%;
		height: 100%;
		color: var(--second-color);
		font-size: 18px;
		font-weight: 700;
		line-height: 22px;

		&:focus ~ .form__label,
		&:not(:focus):valid ~ .form__label {
			top: 12px;
		}

		&:valid,
		&:focus {
			margin-top: 27px;
			height: auto;
		}
	}

	&__label {
		font-size: 18px;
		font-weight: 500;
		line-height: 22px;
		position: absolute;
		left: 23px;
		top: 26px;
		transition: 0.2s ease all;
	}

	&__agree {
		margin-top: 15px;
		font-size: 12px;
		font-weight: 500;
		line-height: 14px;

		& input {
			position: relative;
			top: 2px;
			cursor: pointer;
		}

		& a {
			text-decoration: underline;
			color: var(--second-color);
			cursor: pointer;
		}
	}

	&__action {
		margin-top: 30px;
	}

	&__link {
		margin-top: 15px;
		font-size: 12px;
		line-height: 14px;

		& a {
			text-decoration: underline;
			color: var(--second-color);
		}
	}
}
