.header {
	padding: 40px 0;
	border: 1px solid var(--border-color);

	& .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__profile {
		display: flex;
		align-items: center;
	}

	&__profile-img {
		margin-right: 5px;
	}

	&__profile-user {
		font-size: 18px;
		line-height: 18px;
	}

	&__profile-logout {
		font-size: 12px;
		line-height: 12px;
	}
}
