.result {
	position: relative;
	padding-top: 140px;
	padding-bottom: 91px;
	text-align: center;

	& .container {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&__image {
		position: absolute;
		top: 225px;
		z-index: -1;
	}

	&__title {
		max-width: 588px;
		margin-bottom: 60px;
		@include big-title;
	}

	&__scope {
		background-image: url('../../images/result-image.png');
		background-size: cover;
		background-position: center;
		width: 480px;
		height: 388px;
		display: flex;
		justify-content: center;
		align-items: center;

		font-size: 158px;
		font-weight: 700;
		line-height: 190px;
		color: white;
	}

	&__correct-answers {
		display: flex;
		width: 100%;
		justify-content: flex-end;
		margin-top: 80px;

		@include text-button;
	}
}
