<section class="correct">
	<div class="container">
		<div class="correct__pre-title">
			Результат прохождения теста
			<img src="images/small-arrow-gray.png" alt="Стрелочка" />
			<span id="name-quiz"></span>
		</div>
		<h1 class="correct__title"><span>Правильные ответы</span> к тесту</h1>
		<div class="correct__test-taker">
			Тест выполнил
			<span id="info">Алексей Евсеев, ewseew.alex@mail.ru</span>
		</div>
		<div class="correct__questions" id="correct-questions"></div>
		<div class="correct__back">
			<a id="back" href="javascript:void(0)"
				>Обратно к моему результату теста
				<img src="images/small-arrow.png" alt="Маленькая стрелочка"
			/></a>
		</div>
	</div>
</section>
